.product-information {
    font-size:  medium;
}

.image-container{
    height: 500px;
    position: relative;
}

product-zoom-image {     
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
  }